@import "layout.css";
@import "components/item_catalog.css";
@import "components/inventory_button.css";
:root{
    --BG-color:#12141A;
    --secundary-color:#1C1F26;
    --primary-text-color:#FFCC22;
    --secundary-text-color:#FFFFFF;


    --texto-general:3rem;
   

}
html{
    font-size: 62.5%;
    box-sizing: border-box;

}


body{
    font-size: 10px;
    background-color: var(--BG-color);
    
    margin:0;
    padding:0;
}

.nav{
    display: flex;
    
}
.main__nav{
    display: flex;
    justify-content: space-evenly;
   background-color: var(--secundary-color);
    padding-bottom: 1rem;
    
}
.main__link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 2rem;
    font-family: "Montserrat";
    margin-top: 2rem;
    font-family: "Staatliches";
}

.main__header{
    display: flex;
    justify-content:center;
    background-color: var(--secundary-color);
    
}
.main__title{
    color:#ffffff;
    font-family: "Staatliches";
    
    font-size: 4rem;
}

