@import "main.css";
:root{
    --inventory-buttons-width:34.8rem;
    --inventory-buttons-heigth:8rem;

    --button-buy-color:#22C55E;
    --button-modified-color:#3B82F6;
    --button-remove-color:#EF4444;
}

.inventory{
    background-color: var(--BG-color);
    width: 50rem;
    height: 50rem;
    border-radius: 30px;
    overflow: auto;
}

.inventory__header--layout{
    display: flex;
    justify-content: space-around;
}

.inventory__title--text{
    color: var(--primary-text-color);
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.inventory__button-close{
    border:none;
    background:none;
    height: 5rem;
    width: 5rem;
    margin-left: 3rem;
}

.inventory__cross-icon{
   width: 4rem;
   height: 4rem;
   transition: transform 0.2s ease;
}
.inventory__cross-icon:hover{
    transform: scale(1.5);
}
.inventory__content{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}


.inventory__label{
    font-size: 2.5rem;
    margin-left: 15rem;
}
.inventory__input--style{
    border:none;
    background-color: var(--secundary-color);
    width: 25rem;
    height: 4rem;
    border-radius: 30px;
    padding-left: 15rem;
      border: 0.1px solid #FFF;
    
}

.inventory__field--img{
    margin-top:2rem;
    margin-left: 3rem;
    height: 10rem;
    width: 30rem;
}

.inventory__btn{
    background: none;
    border:none;
    color: var(--primary-text-color);
    background-color: var(--secundary-color);
    width: 40rem;
    height: 6rem;
    border-radius: 30px;
    font-family: "Staatliches";
    margin-bottom: 5rem;
    font-size: 3rem;
    transition:transform 0.2s ease;
}

.inventory__btn:hover{
    transform: scale(1.1);
}